<form class="ui stacked segment form" action="/station/{{station.id}}" method="POST">  <!--addreeport displays our auto generate report button and sends the relevant data to the controller-->
  <button class="ui red submit button">Auto Generate Report</button>
</form>