<form class="ui horizontal segment form" action="/dashboard/addstation" method="POST">   <!--addstation shows the form for creating a new station on the dashboard and posts the relevant data-->
  <div class="three fields">
  <div>
    <label>Station Name</label>
    <input placeholder="Station Name" type="text" name="name">
  </div>
  <div class="field">
    <label>Latitude</label>
    <input placeholder="00.000" type="text" name="lat">
  </div>
  <div class="field">
    <label>Longitude</label>
    <input placeholder="00.000" type="text" name="lon">
  </div>
</div>
  <button class="ui blue submit button">Add Station</button>
</form>
