<nav class="ui menu">                   <!--Our top bar across the top of the application, we display this one when the user isn't logged in-->
  <header class="ui header item"> <a href="/"> Weather-Top 2.0 </a></header>
  <div class="right menu">
    <a id="signup" class="item" href="/signup"> Signup  </a>
    <a id="login" class="item" href="/login">  Login   </a>
  </div>
</nav>

<script>   //Small javascript piece to show the active tab
  $("#{{id}}").addClass("active item");       
</script>