{{> menu id="about"}}

<section class="ui center aligned middle aligned segment">

  <h1>Weather Top</h1>
  <p>
      Welcome to the Weather Top application, Weather Top is an application which allows a user to sign up and create their own weather stations
      as well as make their own reports. Weather Top will display data such as: Weather Codes, Wind Speed, Temperature, Pressure etc. The user will also be
      able to see trends of recent weather reports. We hope you enjoy using this application.
  </p>
    <img class="ui fluid image" src="https://images.unsplash.com/photo-1562155618-e1a8bc2eb04f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1068&q=80">

</section>