<!--Station display, pulls in the partials which we use to display the entire Station dashboard-->
{{> menu}}

<section class="ui center aligned middle aligned segment">
  <h2 class="ui header" align="left">
    {{name}}
  </h2>
  {{> listreadings}}
  {{> addreading}}
  {{> addreport}}
  {{> map}}
  
</section>
